<h1>Burgers!!!</h1>

<h2>Burgers to devore</h2>

<ul>
    {{#each burgers}}
        {{#unless devored}}
            {{> burgers/burger-block devored = true}}
        {{/unless}}
    {{/each}}
</ul>

<h2>Devored burgers</h2>

<ul>
    {{#each burgers}}
        {{#if devored}}
            {{> burgers/burger-block devored = false}}
        {{/if}}
    {{/each}}
</ul>

<h2>Add a new Burger</h2>
<form class="newBurger">

    <div class="inputForm">
        <label for="bur">Burger Name:</label>
        <input type="text" id="bur" name="burger_name"><br>
        <input type="submit" value="Submit">
    </div>
</form>